body {
  font-family: "Inter", sans-serif;
}
.tag li {
  @apply badge badge-lg badge-accent text-accent-content mr-2 mb-2;
}
.nav-link.active {
  @apply text-primary font-bold;
}

/* Custom animations */
.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in-up.animate {
  opacity: 1;
  transform: translateY(0);
}
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.fade-in.animate {
  opacity: 1;
}
.slide-in-right {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slide-in-right.animate {
  opacity: 1;
  transform: translateX(0);
}
.slide-in-left {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slide-in-left.animate {
  opacity: 1;
  transform: translateX(0);
}

/* Animations defined directly in style for CDN usage */
@keyframes bounce-in {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* A slight bounce up */
  }
}
.animate-bounce-in {
  animation: bounce-in 1s ease-out forwards;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-pop-in {
  animation: pop-in 0.5s ease-out forwards;
}

/* Animation for icons on hover */
.animate-icon-bounce {
  transition: transform 0.2s ease-out;
}
.animate-icon-bounce:hover {
  transform: translateY(-5px); /* Moves the icon slightly up on hover */
}
